# IDE and Editor
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

# Managed by Composer
/vendor/

# PHPUnit
/phpunit.xml
/.phpunit.result.cache
/coverage/

# Build and cache
/build/
/.php-cs-fixer.cache
/.phpcs.cache
